<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Liste des Matières </title>
</head>
<link rel="stylesheet" type="text/css" th:href="@{CSS/Enseignant.css}">

<body>

<table>

<tr>
<th class="th">Id</th>
<th class="dh">Numero Matière</th>
<th class="gh">Nom</th>
<th class="fh">Coefficient</th>
<th class="vh">Date du Debut</th>
<th class="uh">Date de Fin</th>
<th class="ah">Nom et Prénom de l'Enseignant</th>



</tr>

<tr th:each=" m :${Matieres}">
<td th:text="${m.Id}"></td>

<td th:text="${m.NumeroMatiere}"></td>
<td th:text="${m.Nom}"></td>
<td th:text="${m.Coefficient}"></td>
<td th:text="${m.DateDeDebut}"></td>
<td th:text="${m.DateDeFin}"></td>
<td th:text="${m.enseignant.Nom} + ' ' + ${m.enseignant.Prenom}"></td>

<td><a th:href="@{DetailsMatiere(id=${m.id})}" >Details</a></td>



</tr>

</table>




</br>
</br>
<a th:href="@{/AjouterMatiereFormulaire}" >Ajouter Matiere</a>
</br>
</br>

<a th:href="@{/Enseignants}" >Acceuil ENSEIGNANTS</a>

</br>
</br>

<a th:href="@{/Notes}" >Acceuil NOTES</a>

</br>
</br>

<a th:href="@{/Etudiants}" >Acceuil ETUDIANTS</a>

</body>
</html>